USE [MIGRAORACLE]
DROP PROCEDURE [dbo].[sp_migraDataDesdeAs400]

CREATE PROCEDURE [dbo].[sp_migraDataDesdeAs400]
	@base_de_datos varchar(100)
AS
BEGIN	
	CHECKPOINT
	BACKUP LOG @base_de_datos WITH TRUNCATE_ONLY
	DBCC SHRINKDATABASE (@base_de_datos , TRUNCATEONLY)
	--
	TRUNCATE TABLE TABLAS_MIGRA
	--
	DROP TABLE AMPF02
	INSERT INTO TABLAS_MIGRA(TABLE_NAME,DESCRIPCION,FECHA) VALUES('AMPF02','TABLA BORRADA.',GETDATE())
	SELECT * INTO AMPF02 FROM OPENQUERY(DB2400,'SELECT * FROM serv24.ampf02')
	INSERT INTO TABLAS_MIGRA(TABLE_NAME,DESCRIPCION,FECHA) VALUES('AMPF02','TABLA CREADA.',GETDATE())
	--
	DROP TABLE AMPF03
	INSERT INTO TABLAS_MIGRA(TABLE_NAME,DESCRIPCION,FECHA) VALUES('AMPF03','TABLA BORRADA.',GETDATE())
	SELECT * INTO AMPF03 FROM OPENQUERY(DB2400,'SELECT * FROM serv24.ampf03')
	--
	DROP TABLE AMPF07
	SELECT * INTO AMPF07 FROM OPENQUERY(DB2400,'SELECT * FROM serv24.ampf07')
	--
	DROP TABLE AMPF14
	SELECT * INTO AMPF14 FROM OPENQUERY(DB2400,'SELECT * FROM serv24.ampf14')
	--
	DROP TABLE AMPF19
	SELECT * INTO AMPF19 FROM OPENQUERY(DB2400,'SELECT * FROM serv24.ampf19')
	--
	DROP TABLE CHPF05
	SELECT * INTO CHPF05 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.chpf05 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo  
		AND aa.poliza = bb.poliza
		AND aa.recibo = bb.numrec
		AND bb.migra =''S''
	')
	--
	DROP TABLE CLPF01
	SELECT * INTO CLPF01 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf01 aa,(
			SELECT ramo, poliza FROM lscadea.migcarcer
			WHERE migrac = ''S''
			GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND  aa.poliza = bb.poliza
	')
	--
	DROP TABLE CLPF02
	SELECT * INTO CLPF02 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf02 aa,(
			SELECT ramo, poliza FROM lscadea.migcarcer
			WHERE migrac = ''S''
			GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
	')
	--
	DROP TABLE CLPF03
	SELECT * INTO CLPF03 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf03 aa,(
			SELECT ramo, poliza FROM lscadea.migcarcer
			WHERE migrac = ''S''
			GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
	')
	--
	DROP TABLE CLPF05
	SELECT * INTO CLPF05 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf05 aa ,lscadea.migcarcer bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.numcer = bb.numcer
		AND aa.cofaam = bb.cofaam
		AND bb.migrac = ''S''
	')
	--
	DROP TABLE CLPF06
	SELECT * INTO CLPF06 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.clpf06 aa,lscadea.migcarcer bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.numcer = bb.numcer
		AND aa.cofaam = bb.cofaam
		AND bb.migrac = ''S''
	')
	--
	DROP TABLE CLPF07
	SELECT * INTO CLPF07 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf07 aa,lscadea.migcarcer bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.cerveh = bb.numcer
		AND bb.migrac = ''S''
	')
	--
	DROP TABLE CLPF08
	SELECT * INTO CLPF08 FROM OPENQUERY(DB2400,'
		SELECT aa.*FROM lscadea.clpf08 aa,lscadea.migcarcer bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza    
		AND aa.cerveh = bb.numcer    
		AND aa.ramo = 31
		AND bb.migrac = ''S''
	')
	--
	DROP TABLE CLPF08N
	SELECT * INTO CLPF08N FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf08n aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.numrec = bb.numrec
		AND aa.ramo = 31
		AND bb.migra = ''S''
	')
	--
	DROP TABLE CLPF10
	SELECT * INTO CLPF10 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf10 aa,lscadea.migcarcer bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.numcer = bb.numcer
		AND aa.cofaam = bb.cofaam
		AND bb.migrac = ''S''
	')
	--
	DROP TABLE CLPF18
	SELECT * INTO CLPF18 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.clpf18')
	--
	DROP TABLE CLPF25
	SELECT * INTO CLPF25 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.clpf25 aa,lscadea.migcarcer bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.numcer = bb.numcer
		AND aa.cofaam = bb.cofaam
		AND bb.migrac = ''S''
	')
	--
	DROP TABLE CLPF27
	SELECT * INTO CLPF27 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf27 aa,lscadea.migcarcer bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.numcer = bb.numcer
		AND aa.cofaam = bb.cofaam
		AND bb.migrac = ''S''
	')
	--
	DROP TABLE CLPF37
	SELECT * INTO CLPF37 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.clpf37')
	--
	DROP TABLE CLPF40
	SELECT * INTO CLPF40 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf40 aa,lscadea.migcarcer bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.numcer = bb.numcer
		AND aa.cofaam = bb.cofaam
		AND bb.migrac = ''S''
	')
	--
	DROP TABLE CLPF43
	SELECT * INTO CLPF43 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.clpf43')
	--
	DROP TABLE CLPF44
	SELECT * INTO CLPF44 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.clpf44')
	--
	DROP TABLE CLPF53
	SELECT * INTO CLPF53  FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.clpf53 aa,(
			SELECT ramo,poliza FROM lscadea.migcartei bb
			WHERE migra=''S'' GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
	')
	--
	DROP TABLE CTRALTAB
	SELECT * INTO CTRALTAB FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.CTRALTAB')
	--
	DROP TABLE COPF02
	SELECT * INTO COPF02 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.COPF02 WHERE aniocnt = 2012')
	--
	DROP TABLE ESPF01
	SELECT * INTO ESPF01 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.ESPF01 a,lscadea.migsinies b        
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA =  b.POLIZA
		AND a.SERIE  =  b.SERIE
		AND a.RECLAC =  b.RECLAC
		AND a.RECLAM =  b.RECLAM
		AND b.migra=''S''
	')
	--
	DROP TABLE FNPF01
	SELECT * INTO FNPF01 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf01')
	--
	DROP TABLE FNPF02
	SELECT * INTO FNPF02 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf02')
	--
	DROP TABLE FNPF03
	SELECT * INTO FNPF03 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf03')
	--
	DROP TABLE FNPF04
	SELECT * INTO FNPF04 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf04')
	--
	DROP TABLE FNPF05
	SELECT * INTO FNPF05 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf05')
	--
	DROP TABLE FNPF06
	SELECT * INTO FNPF06 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf06')
	--
	DROP TABLE FNPF07
	SELECT * INTO FNPF07 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf07')
	--
	DROP TABLE FNPF08
	SELECT * INTO FNPF08 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf08')
	--
	DROP TABLE FNPF10
	SELECT * INTO FNPF10 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf10')
	--
	DROP TABLE FNPF11
	SELECT * INTO FNPF11 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf11')
	--
	DROP TABLE FNPF12
	SELECT * INTO FNPF12 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf12')
	--
	DROP TABLE FNPF13
	SELECT * INTO FNPF13 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf13')
	--
	DROP TABLE FNPF14
	SELECT * INTO FNPF14 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf14')
	--
	DROP TABLE FNPF15
	SELECT * INTO FNPF15 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf15')
	--
	DROP TABLE FNPF50
	SELECT * INTO FNPF50 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.fnpf50')
	--
	DROP TABLE GIPF01
	SELECT * INTO GIPF01 FROM OPENQUERY(DB2400,'
		SELECT b.* FROM lscadea.migfinanc a,lscadea.gipf01 b
		WHERE a.nrreg = b.nrreg
	')
	--
	DROP TABLE GIPF02
	SELECT * INTO GIPF02 FROM OPENQUERY(DB2400,'
		SELECT b.* FROM lscadea.migfinanc a,lscadea.gipf02 b
		WHERE a.nrreg = b.nrreg
	')
	--
	DROP TABLE GIPF03
	SELECT * INTO GIPF03 FROM OPENQUERY(DB2400,'
		SELECT b.* FROM lscadea.migfinanc a,lscadea.gipf03 b
		WHERE a.nrreg = b.nrreg
	')
	--
	DROP TABLE GIPF16
	SELECT * INTO GIPF16 FROM OPENQUERY(DB2400,'
		SELECT b.* FROM lscadea.migfinanc a,lscadea.gipf16 b
		WHERE a.nrreg = b.nrreg
	')
	--
	DROP TABLE GIPF55
	SELECT * INTO GIPF55 FROM OPENQUERY(DB2400,'
		SELECT b.* FROM lscadea.migfinanc a,lscadea.gipf55 b
		WHERE a.nrreg = b.nrreg
	')
	--
	DROP TABLE HJPF01
	SELECT * INTO HJPF01 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.hjpf01 aa,(
			SELECT ramo,poliza FROM lscadea.migcartei bb
			WHERE migra=''S'' GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
	')
	--
	DROP TABLE HJPF02
	SELECT * INTO HJPF02 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf02 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF03
	SELECT * INTO HJPF03 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf03 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF05
	SELECT * INTO HJPF05 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf05 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF06
	SELECT * INTO HJPF06 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf06 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF07
	SELECT * INTO HJPF07 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf07 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF08
	SELECT * INTO HJPF08 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf08 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF09A
	SELECT * INTO HJPF09A FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf09a aa, lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF10
	SELECT * INTO HJPF10 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.HJPF10')
	--
	DROP TABLE HJPF10M
	SELECT * INTO HJPF10M FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.HJPF10M')
	--
	DROP TABLE HJPF13
	SELECT * INTO HJPF13 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf13 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF21
	SELECT * INTO HJPF21 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.hjpf21')
	--
	DROP TABLE HJPF24
	SELECT * INTO HJPF24 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf24 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF25
	SELECT * INTO HJPF25 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf25 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF26
	SELECT * INTO HJPF26 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf26 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF27
	SELECT * INTO HJPF27 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.hjpf27 aa,(
			SELECT ramo,poliza FROM lscadea.migcartei bb
			WHERE migra=''S''
			GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
	')
	--
	DROP TABLE HJPF27R
	SELECT * INTO HJPF27R FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.hjpf27r aa,(
			SELECT ramo,poliza FROM lscadea.migcartei bb
			WHERE migra=''S''
			GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
	')
	--
	DROP TABLE HJPF29
	SELECT * INTO HJPF29 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.hjpf29 aa,(
			SELECT ramo,poliza FROM lscadea.migcartei bb
			WHERE migra=''S''
			GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
	')
	--
	DROP TABLE HJPF30
	SELECT * INTO HJPF30 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.hjpf30 aa,(
			SELECT ramo,poliza FROM lscadea.migcartei bb
			WHERE migra=''S''
			GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
	')
	--
	DROP TABLE HJPF32
	SELECT * INTO HJPF32 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.hjpf32')
	--
	DROP TABLE HJPF32C
	SELECT * INTO HJPF32C FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM lscadea.hjpf32C aa,(
			SELECT ramo,poliza FROM lscadea.migcartei bb
			WHERE migra=''S''
			GROUP BY ramo,poliza
		) bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
	')
	--
	DROP TABLE HJPF35
	SELECT * INTO HJPF35 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpF35 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF63
	SELECT * INTO HJPF63 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf63 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF71
	SELECT * INTO HJPF71 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf71 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF75
	SELECT * INTO HJPF75 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf75 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF76
	SELECT * INTO HJPF76 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.hjpf76')
	--
	DROP TABLE HJPF83
	SELECT * INTO HJPF83 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf83 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF84
	SELECT * INTO HJPF84 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf84 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF94
	SELECT * INTO HJPF94 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf94 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF95
	SELECT * INTO HJPF95 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf95 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF98
	SELECT * INTO HJPF98 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf98 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF201
	SELECT * INTO HJPF201 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.hjpf201 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE HJPF205
	SELECT * INTO HJPF205 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.hjpf205')
	--
	DROP TABLE HJPF210
	SELECT * INTO HJPF210 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.hjpf210')
	--
	DROP TABLE HTFA23
	SELECT * INTO HTFA23 FROM OPENQUERY (DB2400,'SELECT * FROM lscadea.htfa23')
	--
	DROP TABLE IMPF01
	SELECT * INTO IMPF01 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.impf01')
	--
	DROP TABLE IMPF02
	SELECT * INTO IMPF02 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.impf02')
	--
	DROP TABLE MCPF01
	SELECT * INTO MCPF01 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.MCPF01')
	--
	DROP TABLE MIGCARTEI
	SELECT * INTO MIGCARTEI FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.MIGCARTEI')
	--
	DROP TABLE MIGCARCER
	SELECT * INTO MIGCARCER FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.migcarcer')
	--
	DROP TABLE MIGCOBASE
	SELECT * INTO MIGCOBASE FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.migcobase')
	--
	DROP TABLE MIGSINPEN
	SELECT * INTO MIGSINPEN FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.MIGSINPEN')
	--
	DROP TABLE ORDENE
	SELECT * INTO ORDENE FROM OPENQUERY(DB2400, '
		SELECT dd.* FROM (
			SELECT bb.* FROM lscadea.migsinies aa,lscadea.sipf05 bb
			WHERE aa.ramo = bb.ramo
			AND aa.poliza = bb.poliza
			AND aa.serie = bb.serie
			AND aa.reclac = bb.reclac
			AND aa.reclam = bb.reclam
		) cc, lscadea.ordene dd
		WHERE cc.anoemi = dd.anoemi
		AND cc.corord = dd.corord
		AND dd.ANOEMI > 2005 
		AND dd.STSIMD = ''C''
		AND NOMORD NOT IN ('' '')
		AND dd.MONTO>0
		AND dd.CORORD>0
		AND dd.NMROPA>0
		AND dd.ANOOPA>0
		AND cc.STSBEN<>''A''
		AND cc.TIPOPG<>''R''
	')
	--
	DROP TABLE ORPF06
	SELECT * INTO ORPF06 FROM OPENQUERY(DB2400, '
		SELECT AA.* FROM  LSCADEA.ORPF06 AA,LSCADEA.SIPF05 BB
		WHERE AA.ANOEMI > 2005 
		AND AA.STSOPA=''C''
		AND AA.ANOEMI=BB.ANOEMI
		AND NOMOPA NOT IN ('' '')
		AND BB.CORORD= AA.CORORD
		AND AA.MOTOPA>0
		AND AA.CORORD>0
		AND AA.NMROPA>0
		AND AA.ANOOPA>0
		AND BB.STSBEN<>''A''
		AND BB.TIPOPG<>''R''
	')
	--
	DROP TABLE ORPF07
	SELECT * INTO ORPF07 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.orpf07')
	--
	DROP TABLE ORPF08
	SELECT * INTO ORPF08 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.orpf08')
	--
	DROP TABLE ORPF09
	SELECT * INTO ORPF09 FROM OPENQUERY(DB2400,'SELECT * FROM serv24.orpf09')
	--
	DROP TABLE PCPF01
	SELECT * INTO PCPF01 FROM OPENQUERY(DB2400,'SELECT * FROM serv24.pcpf01')
	--
	DROP TABLE RBPF01
	SELECT * INTO RBPF01 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.rbpf01')
	--
	DROP TABLE RBPF02
	SELECT * INTO RBPF02 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.rbpf02')
	--
	DROP TABLE RBPF10
	SELECT * INTO RBPF10 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.RBPF10 a, lscadea.migsinies b
		WHERE a.RAMO   =  b.RAMO
		AND a.POLIZA =  b.POLIZA
		AND a.SERIE  =  b.SERIE
		AND a.RECLAC =  b.RECLAC
		AND a.RECLAM =  b.RECLAM
		AND b.migra =''S''
	')
	--
	DROP TABLE RBPF23
	SELECT * INTO RBPF23 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.rbpf23')
	--
	DROP TABLE REPF14
	SELECT * INTO REPF14 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.repf14 aa, lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE REPF15
	SELECT * INTO REPF15 FROM OPENQUERY(DB2400, '
		SELECT aa.* FROM lscadea.repf15 aa,lscadea.migcartei bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.stsrec = bb.stsrec
		AND aa.numrec = bb.numrec
		AND bb.migra = ''S''
	')
	--
	DROP TABLE RSPF02
	SELECT * INTO RSPF02 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.rspf02')
	--
	DROP TABLE RSPF04
	SELECT * INTO RSPF04 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.rspf04')
	--
	DROP TABLE RSPF06
	SELECT * INTO RSPF06 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.rspf06')
	--
	DROP TABLE RSPF80
	SELECT * INTO RSPF80 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.rspf80')
	--
	DROP TABLE RSPF99
	SELECT * INTO RSPF99 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.rspf99')
	--
	DROP TABLE RTPF07
	SELECT * INTO RTPF07 FROM OPENQUERY(DB2400,'SELECT * FROM serv24.rtpf07')
	--
	DROP TABLE SIPF01
	SELECT * INTO SIPF01 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf01 a,lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE  = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF05
	SELECT * INTO SIPF05 FROM OPENQUERY(DB2400,'
		SELECT aa.* FROM  lscadea.sipf05 aa,lscadea.migsinies bb
		WHERE aa.ramo = bb.ramo
		AND aa.poliza = bb.poliza
		AND aa.serie = bb.serie
		AND aa.reclam = bb.reclam
		AND bb.migra = ''S''
	')
	--
	DROP TABLE SIPF07
	SELECT * INTO SIPF07 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf07 a,lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE  = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	INSERT INTO TABLAS_MIGRA(TABLE_NAME,DESCRIPCION,FECHA) VALUES('SIPF07','TABLA CREADA.',GETDATE())\
	--
	DROP TABLE SIPF08
	SELECT * INTO SIPF08 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf08 a,lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA =  b.POLIZA
		AND a.SERIE  =  b.SERIE
		AND a.RECLAC =  b.RECLAC
		AND a.RECLAM =  b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF10
	SELECT * INTO SIPF10 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf10 a, lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA =  b.POLIZA
		AND a.SERIE  =  b.SERIE
		AND a.RECLAC =  b.RECLAC
		AND a.RECLAM =  b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF25
	SELECT * INTO SIPF25 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.SIPF25')
	--
	DROP TABLE SIPF27
	SELECT * INTO SIPF27 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.sipf27')
	--
	DROP TABLE SIPF30
	SELECT * INTO SIPF30 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf30 a,lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE  =  b.SERIE
		AND a.RECLAC =  b.RECLAC
		AND a.RECLAM =  b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF31
	SELECT * INTO SIPF31 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf31 a, lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA                
		AND a.SERIE = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF34
	SELECT * INTO SIPF34 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf34 a ,lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE  = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF37
	SELECT * INTO SIPF37 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf37 a, lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF39
	SELECT * INTO SIPF39 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.sipf39')
	--
	DROP TABLE SIPF40
	SELECT * INTO SIPF40 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf40 a,lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE  = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF41
	SELECT * INTO SIPF41 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf41 a, lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF74
	SELECT * INTO SIPF74 FROM OPENQUERY(DB2400, 'SELECT * FROM lscadea.SIPF74')
	--
	DROP TABLE SIPF86
	SELECT * INTO SIPF86 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf86 a,lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPF90
	SELECT * INTO SIPF90 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipf90 a,lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE SIPFR70
	SELECT * INTO SIPFR70 FROM OPENQUERY(DB2400, '
		SELECT a.* FROM lscadea.sipfr70 a,lscadea.migsinies b
		WHERE a.RAMO = b.RAMO
		AND a.POLIZA = b.POLIZA
		AND a.SERIE = b.SERIE
		AND a.RECLAC = b.RECLAC
		AND a.RECLAM = b.RECLAM
		AND b.migra = ''S''
	')
	--
	DROP TABLE VAPF02
	SELECT * INTO VAPF02 FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.vapf02')
	--
	DROP TABLE VVALORES
	SELECT * INTO VVALORES FROM OPENQUERY(DB2400,'SELECT * FROM lscadea.vvalores')
	INSERT INTO TABLAS_MIGRA(TABLE_NAME,DESCRIPCION,FECHA) VALUES('VVALORES','TABLA CREADA.',GETDATE())
	--
	CHECKPOINT
	BACKUP LOG @base_de_datos WITH TRUNCATE_ONLY
	DBCC SHRINKDATABASE (@base_de_datos , TRUNCATEONLY)
	--
	ALTER TABLE dbo.CLPF08 ALTER COLUMN TASA FLOAT
	ALTER TABLE dbo.CLPF08 ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.CLPF08 ALTER COLUMN PRIPRR FLOAT
	ALTER TABLE dbo.CLPF08N ALTER COLUMN TASA FLOAT
	ALTER TABLE dbo.CLPF08N ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.CLPF08N ALTER COLUMN PRIPRR FLOAT
	ALTER TABLE dbo.CLPF10 ALTER COLUMN EXTPRI FLOAT
	ALTER TABLE dbo.CLPF10 ALTER COLUMN PRICAP FLOAT
	ALTER TABLE dbo.CLPF10 ALTER COLUMN PRIPRO FLOAT
	ALTER TABLE dbo.CLPF25 ALTER COLUMN PRIPR1 FLOAT
	ALTER TABLE dbo.CLPF25 ALTER COLUMN RECPR1 FLOAT
	ALTER TABLE dbo.CLPF25 ALTER COLUMN PRIPR2 FLOAT
	ALTER TABLE dbo.CLPF25 ALTER COLUMN PRIPR3 FLOAT
	ALTER TABLE dbo.CLPF40 ALTER COLUMN PRIPRO FLOAT
	ALTER TABLE dbo.CLPF43 ALTER COLUMN MONPIE FLOAT
	ALTER TABLE dbo.ESPF01 ALTER COLUMN MONPGO FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTI FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORCI FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTA FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORCA FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORCG FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTIN FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTGA FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORCD FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTIF FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTAF FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MTOINF FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MTOGAF FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORTIM FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONFIS FLOAT
	ALTER TABLE dbo.GIPF02 ALTER COLUMN MONGI FLOAT
	ALTER TABLE dbo.GIPF02 ALTER COLUMN MONGA FLOAT
	ALTER TABLE dbo.GIPF02 ALTER COLUMN MONGIF FLOAT
	ALTER TABLE dbo.GIPF02 ALTER COLUMN MONGTO FLOAT
	ALTER TABLE dbo.GIPF02 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.GIPF02 ALTER COLUMN POPAGO FLOAT
	ALTER TABLE dbo.HJPF01 ALTER COLUMN PORCTL FLOAT
	ALTER TABLE dbo.HJPF01 ALTER COLUMN PORCTI FLOAT
	ALTER TABLE dbo.HJPF01 ALTER COLUMN TOTPFN FLOAT
	ALTER TABLE dbo.HJPF01 ALTER COLUMN COMPAN FLOAT
	ALTER TABLE dbo.HJPF01 ALTER COLUMN TMTOSI FLOAT
	ALTER TABLE dbo.HJPF01 ALTER COLUMN TOTPFE FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN ZMCPA FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN TOTPRI FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN MTODEV FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN GTOCAC FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN SOBREC FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN SOBREE FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN TICACO FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN IVA FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN TOTPIE FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN ZMCPAE FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN GASEMI FLOAT
	ALTER TABLE dbo.HJPF02 ALTER COLUMN GASEME FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN TASA FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN POCOCO FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN MINIMO FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN PORDEC FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN TRECA FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN TDESC FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN PRMOEX FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN MINEXT FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN PRIEXP FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN PORPRI FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN PRIMAR FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN PRIRRE FLOAT
	ALTER TABLE dbo.HJPF05 ALTER COLUMN PRIRAB FLOAT
	ALTER TABLE dbo.HJPF06 ALTER COLUMN PORCTL FLOAT
	ALTER TABLE dbo.HJPF07 ALTER COLUMN PORCOA FLOAT
	ALTER TABLE dbo.HJPF07 ALTER COLUMN GTOCC FLOAT
	ALTER TABLE dbo.HJPF07 ALTER COLUMN PORCCO FLOAT
	ALTER TABLE dbo.HJPF21 ALTER COLUMN TASIND FLOAT
	ALTER TABLE dbo.HJPF21 ALTER COLUMN TASDEP FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN VALASE FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN PORDEP FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN TASMAR FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN SUMMAR FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN SUMAER FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN TASTER FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN SUMTER FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN VALFAC FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN CAMBIO FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN GASTOS FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN BENTRA FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN PORDEC FLOAT
	ALTER TABLE dbo.HJPF27 ALTER COLUMN TRAPOR FLOAT
	ALTER TABLE dbo.HJPF32C ALTER COLUMN COMPAN FLOAT
	ALTER TABLE dbo.HJPF63 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.HJPF71 ALTER COLUMN PRMEXB FLOAT
	ALTER TABLE dbo.HJPF71 ALTER COLUMN PRMBSB FLOAT
	ALTER TABLE dbo.HJPF71 ALTER COLUMN PRMGAB FLOAT
	ALTER TABLE dbo.HJPF71 ALTER COLUMN PRMOTB FLOAT
	ALTER TABLE dbo.HJPF71 ALTER COLUMN PRMEXE FLOAT
	ALTER TABLE dbo.HJPF71 ALTER COLUMN PRMBSE FLOAT
	ALTER TABLE dbo.HJPF71 ALTER COLUMN PRMGAE FLOAT
	ALTER TABLE dbo.HJPF71 ALTER COLUMN PRMOTE FLOAT
	ALTER TABLE dbo.HJPF71 ALTER COLUMN TASA FLOAT
	ALTER TABLE dbo.HJPF95 ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.HJPF98 ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.IMPF01 ALTER COLUMN PORISR FLOAT
	ALTER TABLE dbo.IMPF01 ALTER COLUMN PORIMM FLOAT
	ALTER TABLE dbo.IMPF01 ALTER COLUMN PORIVA FLOAT
	ALTER TABLE dbo.IMPF01 ALTER COLUMN PORIO1 FLOAT
	ALTER TABLE dbo.IMPF01 ALTER COLUMN PORIO2 FLOAT
	ALTER TABLE dbo.IMPF02 ALTER COLUMN MONRET FLOAT
	ALTER TABLE dbo.IMPF02 ALTER COLUMN BASEIM FLOAT
	ALTER TABLE dbo.MCPF01 ALTER COLUMN SUELDO FLOAT
	ALTER TABLE dbo.CLPF02 ALTER COLUMN TASCOB FLOAT
	ALTER TABLE dbo.CLPF02 ALTER COLUMN MONCOB FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN MONTO FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN MTOEXT FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN ISLR FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN ISLREX FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN SALDO FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN SALEXT FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN MONTIM FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN MONTIE FLOAT
	ALTER TABLE dbo.ORDENE ALTER COLUMN IVA FLOAT
	ALTER TABLE dbo.ORPF06 ALTER COLUMN MOTOPA FLOAT
	ALTER TABLE dbo.ORPF06 ALTER COLUMN MTOEXT FLOAT
	ALTER TABLE dbo.ORPF06 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.ORPF06 ALTER COLUMN ISLR FLOAT
	ALTER TABLE dbo.ORPF06 ALTER COLUMN ISLREX FLOAT
	ALTER TABLE dbo.ORPF06 ALTER COLUMN IVAOP FLOAT
	ALTER TABLE dbo.REPF14 ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.REPF14 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.REPF14 ALTER COLUMN PRIMAE FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN PORREA FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN PORGEN FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN PORCOR FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN PORDER FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN PRIMRE FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN IMPRTA FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN IMPMUN FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN PRIMEX FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN IMSLRE FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN PORISL FLOAT
	ALTER TABLE dbo.REPF15 ALTER COLUMN APOSIS FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN MONTRE FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN SALDRE FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN MNTRAJ FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN SLDRAJ FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN SALAPP FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN SALPGO FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN MTREFO FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN SLREFO FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN MTAJFO FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN SLAJFO FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN SAPPFO FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN SPGOFO FLOAT
	ALTER TABLE dbo.SIPF01 ALTER COLUMN TIPCAJ FLOAT
	ALTER TABLE dbo.SIPF07 ALTER COLUMN MTORES FLOAT
	ALTER TABLE dbo.SIPF07 ALTER COLUMN MTOREA FLOAT
	ALTER TABLE dbo.SIPF07 ALTER COLUMN MINIMO FLOAT
	ALTER TABLE dbo.SIPF07 ALTER COLUMN MOREFO FLOAT
	ALTER TABLE dbo.SIPF07 ALTER COLUMN MOAJFO FLOAT
	ALTER TABLE dbo.SIPF07 ALTER COLUMN MINIFO FLOAT
	ALTER TABLE dbo.SIPF08 ALTER COLUMN MONTPG FLOAT
	ALTER TABLE dbo.SIPF08 ALTER COLUMN MOPGFO FLOAT
	ALTER TABLE dbo.SIPF08 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.SIPF31 ALTER COLUMN MONRCB FLOAT
	ALTER TABLE dbo.SIPF37 ALTER COLUMN DEDREP FLOAT
	ALTER TABLE dbo.SIPF37 ALTER COLUMN INFREP FLOAT
	ALTER TABLE dbo.SIPF39 ALTER COLUMN CSTREP FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN MONTRE FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN SALDRE FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN MNTRAJ FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN SLDRAJ FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN SALAPP FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN SALPGO FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN MTREFO FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN SLREFO FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN MTAJFO FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN SLAJFO FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN SAPPFO FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN SPGOFO FLOAT
	ALTER TABLE dbo.SIPF40 ALTER COLUMN TIPCAJ FLOAT
	ALTER TABLE dbo.SIPF41 ALTER COLUMN MTORES FLOAT
	ALTER TABLE dbo.SIPF41 ALTER COLUMN MTOREA FLOAT
	ALTER TABLE dbo.SIPF41 ALTER COLUMN MINIMO FLOAT
	ALTER TABLE dbo.SIPF41 ALTER COLUMN MOREFO FLOAT
	ALTER TABLE dbo.SIPF41 ALTER COLUMN MOAJFO FLOAT
	ALTER TABLE dbo.SIPF41 ALTER COLUMN MINIFO FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN EDAPRO FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN TASPRO FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN DCTOGR FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN DESCOL FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN PRIING FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN PRIEGR FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN PRIREN FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN FCTMUL FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN RCARGO FLOAT
	ALTER TABLE dbo.CLPF01 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.CLPF05 ALTER COLUMN SUELDO FLOAT
	ALTER TABLE dbo.CLPF05 ALTER COLUMN PRICAP FLOAT
	ALTER TABLE dbo.CLPF05 ALTER COLUMN PRIPRO FLOAT
	ALTER TABLE dbo.CLPF05 ALTER COLUMN FTORCG FLOAT
	ALTER TABLE dbo.CLPF06 ALTER COLUMN PORPAP FLOAT
	ALTER TABLE dbo.CLPF06 ALTER COLUMN PRICAP FLOAT
	ALTER TABLE dbo.CLPF06 ALTER COLUMN PRIPRO FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN PRRCAP FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN PRRPRO FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN PROCAP FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN PROPRO FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN PRCCAP FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN PRCPRO FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN SACHAS FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN SAPLAT FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN RECRCV FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN DESRCV FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN RECCAS FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN DESCAS FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN PRVCAP FLOAT
	ALTER TABLE dbo.CLPF07 ALTER COLUMN PRVPRO FLOAT
	ALTER TABLE dbo.CLPF02 ALTER COLUMN TASCOB FLOAT
	ALTER TABLE dbo.CLPF02 ALTER COLUMN MONCOB FLOAT
	ALTER TABLE dbo.CLPF03 ALTER COLUMN PORCC1 FLOAT
	ALTER TABLE dbo.CLPF03 ALTER COLUMN PHCMCO FLOAT
	ALTER TABLE dbo.CLPF03 ALTER COLUMN PHCMAS FLOAT
	ALTER TABLE dbo.CLPF03 ALTER COLUMN PHCMDO FLOAT
	ALTER TABLE dbo.FNPF01 ALTER COLUMN SALFIA FLOAT
	ALTER TABLE dbo.FNPF05 ALTER COLUMN MONCON FLOAT
	ALTER TABLE dbo.FNPF05 ALTER COLUMN MONFIA FLOAT
	ALTER TABLE dbo.FNPF05 ALTER COLUMN TASA FLOAT
	ALTER TABLE dbo.FNPF05 ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.FNPF05 ALTER COLUMN MONFEX FLOAT
	ALTER TABLE dbo.FNPF05 ALTER COLUMN PRIMEX FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN MONCON FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN MONFIA FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN PORCOB FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN AMOFF FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN SALFF FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN SALAF FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN SALRF FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN MONVAL FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN ACBSVL FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN MONEXT FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN AJBSOB FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN AJBSFZ FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN ACBSEX FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.FNPF06 ALTER COLUMN TASA FLOAT
	ALTER TABLE dbo.FNPF07 ALTER COLUMN MTOHOR FLOAT
	ALTER TABLE dbo.FNPF07 ALTER COLUMN MTONOT FLOAT
	ALTER TABLE dbo.FNPF07 ALTER COLUMN PAPELS FLOAT
	ALTER TABLE dbo.FNPF13 ALTER COLUMN MTOHOR FLOAT
	ALTER TABLE dbo.FNPF13 ALTER COLUMN MTONOT FLOAT
	ALTER TABLE dbo.FNPF13 ALTER COLUMN PAPELS FLOAT
	ALTER TABLE dbo.FNPF14 ALTER COLUMN MONFIX FLOAT
	ALTER TABLE dbo.FNPF15 ALTER COLUMN CAPITA FLOAT
	ALTER TABLE dbo.FNPF15 ALTER COLUMN PRIMIT FLOAT
	ALTER TABLE dbo.HJPF75 ALTER COLUMN TASA FLOAT
	ALTER TABLE dbo.HJPF75 ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.HJPF75 ALTER COLUMN PRMOEX FLOAT
	ALTER TABLE dbo.RBPF01 ALTER COLUMN MONTRE FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN FCTCLI FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN FCTHON FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN INDHOS FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN IHOSRB FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN INDCLI FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN ICLIRB FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN INDHON FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN IHONRB FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN INDAMD FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN INDREE FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN IPGMMA FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN IPGMMR FLOAT
	ALTER TABLE dbo.AMPF02 ALTER COLUMN MINIMO FLOAT
	ALTER TABLE dbo.ORPF09 ALTER COLUMN MTOLIQ FLOAT
	ALTER TABLE dbo.ORPF09 ALTER COLUMN MTOCIA FLOAT
	ALTER TABLE dbo.ORPF09 ALTER COLUMN MTOAHO FLOAT
	ALTER TABLE dbo.ORPF09 ALTER COLUMN ISLR FLOAT
	ALTER TABLE dbo.HJPF03 ALTER COLUMN SACHAS FLOAT
	ALTER TABLE dbo.HJPF03 ALTER COLUMN SAPLAT FLOAT
	ALTER TABLE dbo.CHPF05 ALTER COLUMN MONCNT FLOAT
	ALTER TABLE dbo.PCPF01 ALTER COLUMN MTOING FLOAT
	ALTER TABLE dbo.PCPF01 ALTER COLUMN MTOADM FLOAT
	ALTER TABLE dbo.PCPF01 ALTER COLUMN MTADMD FLOAT
	ALTER TABLE dbo.PCPF01 ALTER COLUMN ISLRAD FLOAT
	ALTER TABLE dbo.PCPF01 ALTER COLUMN MTOMED FLOAT
	ALTER TABLE dbo.PCPF01 ALTER COLUMN MTOCLI FLOAT
	ALTER TABLE dbo.PCPF01 ALTER COLUMN ISLRCL FLOAT
	ALTER TABLE dbo.COPF02 ALTER COLUMN MONCNT FLOAT
	ALTER TABLE dbo.RSPF06 ALTER COLUMN PRPORC FLOAT
	ALTER TABLE dbo.RSPF06 ALTER COLUMN PRESTM FLOAT
	ALTER TABLE dbo.RSPF06 ALTER COLUMN CUOTA FLOAT
	ALTER TABLE dbo.RSPF06 ALTER COLUMN PRSALD FLOAT
	ALTER TABLE dbo.RSPF02 ALTER COLUMN INTACT FLOAT
	ALTER TABLE dbo.RSPF02 ALTER COLUMN QX FLOAT
	ALTER TABLE dbo.RSPF02 ALTER COLUMN PX FLOAT
	ALTER TABLE dbo.RSPF02 ALTER COLUMN EX FLOAT
	ALTER TABLE dbo.RSPF02 ALTER COLUMN CMX FLOAT
	ALTER TABLE dbo.RSPF02 ALTER COLUMN IMX FLOAT
	ALTER TABLE dbo.SIPF05 ALTER COLUMN MTOPAG FLOAT
	ALTER TABLE dbo.SIPF05 ALTER COLUMN MPAGFO FLOAT
	ALTER TABLE dbo.SIPF05 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.COPF02 ALTER COLUMN MONCNT FLOAT
	ALTER TABLE dbo.MCPF01 ALTER COLUMN SUELDO FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTI FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORCI FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTA FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORCA FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORCG FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTIN FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTGA FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORCD FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTIF FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONTAF FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MTOINF FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MTOGAF FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN TIPCAM FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN PORTIM FLOAT
	ALTER TABLE dbo.GIPF01 ALTER COLUMN MONFIS FLOAT
	ALTER TABLE dbo.SIPF27 ALTER COLUMN LIMAXT FLOAT
	ALTER TABLE dbo.SIPF27 ALTER COLUMN PDISHO FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN TASFIJ FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN TASMIN FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN TASMAX FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN COMPAN FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN COMSAN FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN COMTAN FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN COMCAN FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN COMQAN FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN MONMIN FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN MONMAX FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN RECFIJ FLOAT
	ALTER TABLE dbo.HJPF32 ALTER COLUMN DESFIJ FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN PRIMA FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN TASA FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN PRIBRU FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN RECARGO FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN DESCTO FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN RECEDAD FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN RECPOLI FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN FACREC FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN PRIBASE FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN DESCTOP FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN RECASEG FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN PRIMAFIJA FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN COMCOB FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN PORCOM FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN COMREC FLOAT
	ALTER TABLE dbo.MIGCOBASE ALTER COLUMN PRIMAT FLOAT
	ALTER TABLE dbo.CLPF53 ALTER COLUMN SACHAS FLOAT
	ALTER TABLE dbo.CLPF53 ALTER COLUMN SAPLAT FLOAT
	SET NOCOUNT ON;
END