SELECT TOP (1000) * FROM [ColombiaElecciones2018_Importacion].[dbo].[Clave_Candidatos]
SELECT TOP (1000) * FROM [ColombiaElecciones2018_Importacion].[dbo].[Clave_Circunscripcion]
SELECT TOP (1000) * FROM [ColombiaElecciones2018_Importacion].[dbo].[Clave_Corporacion]
SELECT TOP (1000) * FROM [ColombiaElecciones2018_Importacion].[dbo].[Clave_Divipol]
SELECT TOP (1000) * FROM [ColombiaElecciones2018_Importacion].[dbo].[Clave_Partidos]
--
SELECT TOP (1000) * FROM [ColombiaElecciones2018PRE1_Importacion].[dbo].[Clave_Partidos]
SELECT TOP (1000) * FROM [ColombiaElecciones2018PRE1_Importacion].[dbo].[Clave_Divipol]
SELECT TOP (1000) * FROM [ColombiaElecciones2018PRE1_Importacion].[dbo].[Clave_Corporacion]
SELECT TOP (1000) * FROM [ColombiaElecciones2018PRE1_Importacion].[dbo].[Clave_Circunscripcion]
SELECT TOP (1000) * FROM [ColombiaElecciones2018PRE1_Importacion].[dbo].[Clave_Candidatos]